@page
@model Lab_Project.Pages.Admin.AdminStatsModel
@{
}
<div id="content-wrapper"  >

    <!-- Main Content -->
    <div id="content">


        <!-- Begin Page Content -->
        <div class="container-fluid p-4">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm shadow-sm" style="background-color:#12cad6;color:white;">
                    <i class="fas fa-download fa-sm text-light" ></i> Generate Report
                </a>
            </div>

            <!-- Numbers Row -->
            <div class="row">

                <!-- Projects -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total Projects
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.num.Num_Projects</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-shield-halved"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Students  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Number of Students
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.num.Num_Students</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Advisors -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        number of advisors
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.num.Num_Advisors</div>
                                        </div>
                                       @*  <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                     style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div> *@
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Teams -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Majors
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.num.Num_Majors</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-users"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->

   

                <!-- Area Chart -->
        <div class="row justify-content-evenly">

            <!-- Area Chart -->
            <div class="col-xl-5 col-lg-6 col-md-12 mb-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Students</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="BarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-3 col-lg-6 col-md-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="PieChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>



            
                  

            <!-- Content Row -->
            <div class="row">

             
              

             

          
            </div>

      
        </div>
       

    </div>
    <!-- End of Main Content -->


</div>


<script type="module">
  document.addEventListener('DOMContentLoaded', (event) => {
    var ctx = document.getElementById('BarChart');
    var mychart = new Chart(ctx, @Html.Raw(Model.BarChartJson)); 
});

    document.addEventListener('DOMContentLoaded', (event) => {
        var ctx = document.getElementById('PieChart');
        var mychart = new Chart(ctx, @Html.Raw(Model.PieChartJson));
    });


</script>
